@mixin list-item-btn($color) {
  padding: 0.2rem 0.6rem;
  background-color: #FFF;
  border: 2px solid $color;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: $color;
    color: #FFF;
  }

  &:focus {
    outline: none;
  }

}
